#main_wrapper {
    height: calc(90vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#selection {
    height: 50%;
    border: 1px solid black;
    padding: 20px;
    background-color: #d8d8d8;
}

#selection h1 {
    text-align: center;
}

#selection form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#languages {
    width: 100%;
}

#languages input {
    display: none;
}

#languages label {
    padding: 10px;
    cursor: pointer;
}

#languages input:checked + label {
    background-color: #F1F1F1;
}

input[type=submit]{
    margin-top: 100px;
    width: 40%;
    background-color: #848CB8;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.line {
    display: flex;
    justify-content: space-around;
}