#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    color: #ccc;
    height: 100px;
    width: 20%;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 9999;
}

#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}

#closeCookieConsent:hover {
    color: #FFF;
}

#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    position: fixed;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    bottom: 15px;
    right: 30px;
}

#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}