#details {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
}

#interview {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    width: calc(100% - 20px);
    height: 10%;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    margin: 10px;
}

#content {
    display: flex;
    width: 100%;
    height: calc(90% - 20px);
}

#content section {
    width: 50% !important;
    height: 100%;
}

#view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100%;
    transition: transform .2s, color .2s, background-color .3s;
    color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    border: #F1F1F1 solid 2px;
}

.section:hover {
    transform: scale(1.05);
    color: black;
    background-color: #bfbfbf;
}

.section p {
    font-size: 40px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.sectionDetails {
    width: 560px;
    height: 315px;
    display: none;
}

#view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vr {
    display: block;
    color: white;
    width: 560px;
    height: 315px;
    background: black;
}

.vr iframe {
    width: 560px;
    height: 315px;
}

#close {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    margin: 10px;
}