footer {
    height: 150px;
    background-color: #848CB8;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
}

footer img {
    position: relative;
    width: 30px;
    height: 26px;
}

footer #blue-triangle{
    top: -26px;
    left: -50px;
}

footer #grey-triangle{
    transform: rotate(180deg);
    left: 50px;
}

footer section {
    width: 25%;
}

footer ul {
    margin-bottom: 0;
}

#explanation {
    text-align: center;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#credentials #names{
    display: flex;
}

#credentials h2 {
    text-align: center;
}