header {
    height: 10vh;
    background-color: #848CB8 /*#bfbfbf*/;
    display: flex;
    align-items: center;
}

header #logo_link {
    height: 80%;
    margin-left: 20px;
}

header a {
    color: black;
    text-decoration: none;
}

header li a {
    height: 25px;
    display: flex;
}

header li a p {
    margin: 0 0 0 5px;
}

#logo {
    height: 100%;
}

header a img {
    height: 25px;
    vertical-align: middle;
}

header nav {
    display: flex;

}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    float: left;
    margin-right: 20px;
    font-size: 20px;
    background-color: #d8d8d8;
    padding: 10px;
    cursor: pointer;
}

header nav ul li:hover {
    background-color: #F1F1F1;
}