#map {
    width: 70%;
    height: 70%;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

#sciences {
    width: 100%;
}

#languages, #history {
    width: 30%;
}