#main_wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main_wrapper h1 {
    font-size: 40px;
    font-family: 'PT Serif', serif;
    color: #375D81
}

#container{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
}